=begin
#Merge Ticketing API

#The unified API for building rich integrations with multiple Ticketing platforms.

The version of the OpenAPI document: 1.0
Contact: hello@merge.dev
Generated by: https://openapi-generator.tech
OpenAPI Generator version: 5.1.1

=end

require 'cgi'

module MergeTicketingClient
  class TicketsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns a list of `User` objects.
    # @param x_account_token [String] Token identifying the end user.
    # @param parent_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor The pagination cursor value.
    # @option opts [String] :expand Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
    # @option opts [Boolean] :include_deleted_data Whether to include data that was marked as deleted by third party webhooks.
    # @option opts [Boolean] :include_remote_data Whether to include the original data Merge fetched from the third-party to produce these models.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @return [PaginatedUserList]
    def tickets_collaborators_list(x_account_token, parent_id, opts = {})
      data, _status_code, _headers = tickets_collaborators_list_with_http_info(x_account_token, parent_id, opts)
      data
    end

    # Returns a list of &#x60;User&#x60; objects.
    # @param x_account_token [String] Token identifying the end user.
    # @param parent_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor The pagination cursor value.
    # @option opts [String] :expand Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
    # @option opts [Boolean] :include_deleted_data Whether to include data that was marked as deleted by third party webhooks.
    # @option opts [Boolean] :include_remote_data Whether to include the original data Merge fetched from the third-party to produce these models.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @return [Array<(PaginatedUserList, Integer, Hash)>] PaginatedUserList data, response status code and response headers
    def tickets_collaborators_list_with_http_info(x_account_token, parent_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.tickets_collaborators_list ...'
      end
      # verify the required parameter 'x_account_token' is set
      if @api_client.config.client_side_validation && x_account_token.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_token' when calling TicketsApi.tickets_collaborators_list"
      end
      # verify the required parameter 'parent_id' is set
      if @api_client.config.client_side_validation && parent_id.nil?
        fail ArgumentError, "Missing the required parameter 'parent_id' when calling TicketsApi.tickets_collaborators_list"
      end
      allowable_values = ["roles", "teams", "teams,roles"]
      if @api_client.config.client_side_validation && opts[:'expand'] && !allowable_values.include?(opts[:'expand'])
        fail ArgumentError, "invalid value for \"expand\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/tickets/{parent_id}/collaborators'.sub('{' + 'parent_id' + '}', CGI.escape(parent_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?
      query_params[:'include_deleted_data'] = opts[:'include_deleted_data'] if !opts[:'include_deleted_data'].nil?
      query_params[:'include_remote_data'] = opts[:'include_remote_data'] if !opts[:'include_remote_data'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Account-Token'] = x_account_token

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedUserList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth']

      new_options = opts.merge(
        :operation => :"TicketsApi.tickets_collaborators_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#tickets_collaborators_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Creates a `Ticket` object with the given values.
    # @param x_account_token [String] Token identifying the end user.
    # @param ticket_endpoint_request [TicketEndpointRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :is_debug_mode Whether to include debug fields (such as log file links) in the response.
    # @option opts [Boolean] :run_async Whether or not third-party updates should be run asynchronously.
    # @return [TicketResponse]
    def tickets_create(x_account_token, ticket_endpoint_request, opts = {})
      data, _status_code, _headers = tickets_create_with_http_info(x_account_token, ticket_endpoint_request, opts)
      data
    end

    # Creates a &#x60;Ticket&#x60; object with the given values.
    # @param x_account_token [String] Token identifying the end user.
    # @param ticket_endpoint_request [TicketEndpointRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :is_debug_mode Whether to include debug fields (such as log file links) in the response.
    # @option opts [Boolean] :run_async Whether or not third-party updates should be run asynchronously.
    # @return [Array<(TicketResponse, Integer, Hash)>] TicketResponse data, response status code and response headers
    def tickets_create_with_http_info(x_account_token, ticket_endpoint_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.tickets_create ...'
      end
      # verify the required parameter 'x_account_token' is set
      if @api_client.config.client_side_validation && x_account_token.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_token' when calling TicketsApi.tickets_create"
      end
      # verify the required parameter 'ticket_endpoint_request' is set
      if @api_client.config.client_side_validation && ticket_endpoint_request.nil?
        fail ArgumentError, "Missing the required parameter 'ticket_endpoint_request' when calling TicketsApi.tickets_create"
      end
      # resource path
      local_var_path = '/tickets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'is_debug_mode'] = opts[:'is_debug_mode'] if !opts[:'is_debug_mode'].nil?
      query_params[:'run_async'] = opts[:'run_async'] if !opts[:'run_async'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      header_params[:'X-Account-Token'] = x_account_token

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ticket_endpoint_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TicketResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth']

      new_options = opts.merge(
        :operation => :"TicketsApi.tickets_create",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#tickets_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a list of `Ticket` objects.
    # @param x_account_token [String] Token identifying the end user.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id If provided, will only return tickets for this account.
    # @option opts [String] :assignee_ids If provided, will only return tickets assigned to the assignee_ids; multiple assignee_ids can be separated by commas.
    # @option opts [String] :collection_ids If provided, will only return tickets assigned to the collection_ids; multiple collection_ids can be separated by commas.
    # @option opts [Time] :completed_after If provided, will only return tickets completed after this datetime.
    # @option opts [Time] :completed_before If provided, will only return tickets completed before this datetime.
    # @option opts [String] :contact_id If provided, will only return tickets for this contact.
    # @option opts [Time] :created_after If provided, will only return objects created after this datetime.
    # @option opts [Time] :created_before If provided, will only return objects created before this datetime.
    # @option opts [String] :cursor The pagination cursor value.
    # @option opts [Time] :due_after If provided, will only return tickets due after this datetime.
    # @option opts [Time] :due_before If provided, will only return tickets due before this datetime.
    # @option opts [String] :expand Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
    # @option opts [Boolean] :include_deleted_data Whether to include data that was marked as deleted by third party webhooks.
    # @option opts [Boolean] :include_remote_data Whether to include the original data Merge fetched from the third-party to produce these models.
    # @option opts [Boolean] :include_remote_fields Whether to include all remote fields, including fields that Merge did not map to common models, in a normalized format.
    # @option opts [Time] :modified_after If provided, only objects synced by Merge after this date time will be returned.
    # @option opts [Time] :modified_before If provided, only objects synced by Merge before this date time will be returned.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :parent_ticket_id If provided, will only return sub tickets of the parent_ticket_id.
    # @option opts [String] :priority If provided, will only return tickets of this priority.  * &#x60;URGENT&#x60; - URGENT * &#x60;HIGH&#x60; - HIGH * &#x60;NORMAL&#x60; - NORMAL * &#x60;LOW&#x60; - LOW
    # @option opts [String] :project_id If provided, will only return tickets for this project.
    # @option opts [Time] :remote_created_after If provided, will only return tickets created in the third party platform after this datetime.
    # @option opts [Time] :remote_created_before If provided, will only return tickets created in the third party platform before this datetime.
    # @option opts [String] :remote_fields Deprecated. Use show_enum_origins.
    # @option opts [String] :remote_id The API provider&#39;s ID for the given object.
    # @option opts [Time] :remote_updated_after If provided, will only return tickets updated in the third party platform after this datetime.
    # @option opts [Time] :remote_updated_before If provided, will only return tickets updated in the third party platform before this datetime.
    # @option opts [String] :show_enum_origins Which fields should be returned in non-normalized form.
    # @option opts [String] :status If provided, will only return tickets of this status.  * &#x60;OPEN&#x60; - OPEN * &#x60;CLOSED&#x60; - CLOSED * &#x60;IN_PROGRESS&#x60; - IN_PROGRESS * &#x60;ON_HOLD&#x60; - ON_HOLD
    # @option opts [String] :tags If provided, will only return tickets matching the tags; multiple tags can be separated by commas.
    # @option opts [String] :ticket_type If provided, will only return tickets of this type.
    # @return [PaginatedTicketList]
    def tickets_list(x_account_token, opts = {})
      data, _status_code, _headers = tickets_list_with_http_info(x_account_token, opts)
      data
    end

    # Returns a list of &#x60;Ticket&#x60; objects.
    # @param x_account_token [String] Token identifying the end user.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :account_id If provided, will only return tickets for this account.
    # @option opts [String] :assignee_ids If provided, will only return tickets assigned to the assignee_ids; multiple assignee_ids can be separated by commas.
    # @option opts [String] :collection_ids If provided, will only return tickets assigned to the collection_ids; multiple collection_ids can be separated by commas.
    # @option opts [Time] :completed_after If provided, will only return tickets completed after this datetime.
    # @option opts [Time] :completed_before If provided, will only return tickets completed before this datetime.
    # @option opts [String] :contact_id If provided, will only return tickets for this contact.
    # @option opts [Time] :created_after If provided, will only return objects created after this datetime.
    # @option opts [Time] :created_before If provided, will only return objects created before this datetime.
    # @option opts [String] :cursor The pagination cursor value.
    # @option opts [Time] :due_after If provided, will only return tickets due after this datetime.
    # @option opts [Time] :due_before If provided, will only return tickets due before this datetime.
    # @option opts [String] :expand Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
    # @option opts [Boolean] :include_deleted_data Whether to include data that was marked as deleted by third party webhooks.
    # @option opts [Boolean] :include_remote_data Whether to include the original data Merge fetched from the third-party to produce these models.
    # @option opts [Boolean] :include_remote_fields Whether to include all remote fields, including fields that Merge did not map to common models, in a normalized format.
    # @option opts [Time] :modified_after If provided, only objects synced by Merge after this date time will be returned.
    # @option opts [Time] :modified_before If provided, only objects synced by Merge before this date time will be returned.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @option opts [String] :parent_ticket_id If provided, will only return sub tickets of the parent_ticket_id.
    # @option opts [String] :priority If provided, will only return tickets of this priority.  * &#x60;URGENT&#x60; - URGENT * &#x60;HIGH&#x60; - HIGH * &#x60;NORMAL&#x60; - NORMAL * &#x60;LOW&#x60; - LOW
    # @option opts [String] :project_id If provided, will only return tickets for this project.
    # @option opts [Time] :remote_created_after If provided, will only return tickets created in the third party platform after this datetime.
    # @option opts [Time] :remote_created_before If provided, will only return tickets created in the third party platform before this datetime.
    # @option opts [String] :remote_fields Deprecated. Use show_enum_origins.
    # @option opts [String] :remote_id The API provider&#39;s ID for the given object.
    # @option opts [Time] :remote_updated_after If provided, will only return tickets updated in the third party platform after this datetime.
    # @option opts [Time] :remote_updated_before If provided, will only return tickets updated in the third party platform before this datetime.
    # @option opts [String] :show_enum_origins Which fields should be returned in non-normalized form.
    # @option opts [String] :status If provided, will only return tickets of this status.  * &#x60;OPEN&#x60; - OPEN * &#x60;CLOSED&#x60; - CLOSED * &#x60;IN_PROGRESS&#x60; - IN_PROGRESS * &#x60;ON_HOLD&#x60; - ON_HOLD
    # @option opts [String] :tags If provided, will only return tickets matching the tags; multiple tags can be separated by commas.
    # @option opts [String] :ticket_type If provided, will only return tickets of this type.
    # @return [Array<(PaginatedTicketList, Integer, Hash)>] PaginatedTicketList data, response status code and response headers
    def tickets_list_with_http_info(x_account_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.tickets_list ...'
      end
      # verify the required parameter 'x_account_token' is set
      if @api_client.config.client_side_validation && x_account_token.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_token' when calling TicketsApi.tickets_list"
      end
      allowable_values = ["account", "account,contact", "account,contact,creator", "account,contact,creator,parent_ticket", "account,contact,parent_ticket", "account,creator", "account,creator,parent_ticket", "account,parent_ticket", "assignees", "assignees,account", "assignees,account,contact", "assignees,account,contact,creator", "assignees,account,contact,creator,parent_ticket", "assignees,account,contact,parent_ticket", "assignees,account,creator", "assignees,account,creator,parent_ticket", "assignees,account,parent_ticket", "assignees,collections", "assignees,collections,account", "assignees,collections,account,contact", "assignees,collections,account,contact,creator", "assignees,collections,account,contact,creator,parent_ticket", "assignees,collections,account,contact,parent_ticket", "assignees,collections,account,creator", "assignees,collections,account,creator,parent_ticket", "assignees,collections,account,parent_ticket", "assignees,collections,contact", "assignees,collections,contact,creator", "assignees,collections,contact,creator,parent_ticket", "assignees,collections,contact,parent_ticket", "assignees,collections,creator", "assignees,collections,creator,parent_ticket", "assignees,collections,parent_ticket", "assignees,contact", "assignees,contact,creator", "assignees,contact,creator,parent_ticket", "assignees,contact,parent_ticket", "assignees,creator", "assignees,creator,parent_ticket", "assignees,parent_ticket", "attachments", "attachments,account", "attachments,account,contact", "attachments,account,contact,creator", "attachments,account,contact,creator,parent_ticket", "attachments,account,contact,parent_ticket", "attachments,account,creator", "attachments,account,creator,parent_ticket", "attachments,account,parent_ticket", "attachments,assignees", "attachments,assignees,account", "attachments,assignees,account,contact", "attachments,assignees,account,contact,creator", "attachments,assignees,account,contact,creator,parent_ticket", "attachments,assignees,account,contact,parent_ticket", "attachments,assignees,account,creator", "attachments,assignees,account,creator,parent_ticket", "attachments,assignees,account,parent_ticket", "attachments,assignees,collections", "attachments,assignees,collections,account", "attachments,assignees,collections,account,contact", "attachments,assignees,collections,account,contact,creator", "attachments,assignees,collections,account,contact,creator,parent_ticket", "attachments,assignees,collections,account,contact,parent_ticket", "attachments,assignees,collections,account,creator", "attachments,assignees,collections,account,creator,parent_ticket", "attachments,assignees,collections,account,parent_ticket", "attachments,assignees,collections,contact", "attachments,assignees,collections,contact,creator", "attachments,assignees,collections,contact,creator,parent_ticket", "attachments,assignees,collections,contact,parent_ticket", "attachments,assignees,collections,creator", "attachments,assignees,collections,creator,parent_ticket", "attachments,assignees,collections,parent_ticket", "attachments,assignees,contact", "attachments,assignees,contact,creator", "attachments,assignees,contact,creator,parent_ticket", "attachments,assignees,contact,parent_ticket", "attachments,assignees,creator", "attachments,assignees,creator,parent_ticket", "attachments,assignees,parent_ticket", "attachments,collections", "attachments,collections,account", "attachments,collections,account,contact", "attachments,collections,account,contact,creator", "attachments,collections,account,contact,creator,parent_ticket", "attachments,collections,account,contact,parent_ticket", "attachments,collections,account,creator", "attachments,collections,account,creator,parent_ticket", "attachments,collections,account,parent_ticket", "attachments,collections,contact", "attachments,collections,contact,creator", "attachments,collections,contact,creator,parent_ticket", "attachments,collections,contact,parent_ticket", "attachments,collections,creator", "attachments,collections,creator,parent_ticket", "attachments,collections,parent_ticket", "attachments,contact", "attachments,contact,creator", "attachments,contact,creator,parent_ticket", "attachments,contact,parent_ticket", "attachments,creator", "attachments,creator,parent_ticket", "attachments,parent_ticket", "collections", "collections,account", "collections,account,contact", "collections,account,contact,creator", "collections,account,contact,creator,parent_ticket", "collections,account,contact,parent_ticket", "collections,account,creator", "collections,account,creator,parent_ticket", "collections,account,parent_ticket", "collections,contact", "collections,contact,creator", "collections,contact,creator,parent_ticket", "collections,contact,parent_ticket", "collections,creator", "collections,creator,parent_ticket", "collections,parent_ticket", "contact", "contact,creator", "contact,creator,parent_ticket", "contact,parent_ticket", "creator", "creator,parent_ticket", "parent_ticket"]
      if @api_client.config.client_side_validation && opts[:'expand'] && !allowable_values.include?(opts[:'expand'])
        fail ArgumentError, "invalid value for \"expand\", must be one of #{allowable_values}"
      end
      allowable_values = ["HIGH", "LOW", "NORMAL", "URGENT"]
      if @api_client.config.client_side_validation && opts[:'priority'] && !allowable_values.include?(opts[:'priority'])
        fail ArgumentError, "invalid value for \"priority\", must be one of #{allowable_values}"
      end
      allowable_values = ["priority", "priority,status", "priority,status,ticket_type", "priority,ticket_type", "status", "status,ticket_type", "ticket_type"]
      if @api_client.config.client_side_validation && opts[:'remote_fields'] && !allowable_values.include?(opts[:'remote_fields'])
        fail ArgumentError, "invalid value for \"remote_fields\", must be one of #{allowable_values}"
      end
      allowable_values = ["priority", "priority,status", "priority,status,ticket_type", "priority,ticket_type", "status", "status,ticket_type", "ticket_type"]
      if @api_client.config.client_side_validation && opts[:'show_enum_origins'] && !allowable_values.include?(opts[:'show_enum_origins'])
        fail ArgumentError, "invalid value for \"show_enum_origins\", must be one of #{allowable_values}"
      end
      allowable_values = ["CLOSED", "IN_PROGRESS", "ON_HOLD", "OPEN"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/tickets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'account_id'] = opts[:'account_id'] if !opts[:'account_id'].nil?
      query_params[:'assignee_ids'] = opts[:'assignee_ids'] if !opts[:'assignee_ids'].nil?
      query_params[:'collection_ids'] = opts[:'collection_ids'] if !opts[:'collection_ids'].nil?
      query_params[:'completed_after'] = opts[:'completed_after'] if !opts[:'completed_after'].nil?
      query_params[:'completed_before'] = opts[:'completed_before'] if !opts[:'completed_before'].nil?
      query_params[:'contact_id'] = opts[:'contact_id'] if !opts[:'contact_id'].nil?
      query_params[:'created_after'] = opts[:'created_after'] if !opts[:'created_after'].nil?
      query_params[:'created_before'] = opts[:'created_before'] if !opts[:'created_before'].nil?
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'due_after'] = opts[:'due_after'] if !opts[:'due_after'].nil?
      query_params[:'due_before'] = opts[:'due_before'] if !opts[:'due_before'].nil?
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?
      query_params[:'include_deleted_data'] = opts[:'include_deleted_data'] if !opts[:'include_deleted_data'].nil?
      query_params[:'include_remote_data'] = opts[:'include_remote_data'] if !opts[:'include_remote_data'].nil?
      query_params[:'include_remote_fields'] = opts[:'include_remote_fields'] if !opts[:'include_remote_fields'].nil?
      query_params[:'modified_after'] = opts[:'modified_after'] if !opts[:'modified_after'].nil?
      query_params[:'modified_before'] = opts[:'modified_before'] if !opts[:'modified_before'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?
      query_params[:'parent_ticket_id'] = opts[:'parent_ticket_id'] if !opts[:'parent_ticket_id'].nil?
      query_params[:'priority'] = opts[:'priority'] if !opts[:'priority'].nil?
      query_params[:'project_id'] = opts[:'project_id'] if !opts[:'project_id'].nil?
      query_params[:'remote_created_after'] = opts[:'remote_created_after'] if !opts[:'remote_created_after'].nil?
      query_params[:'remote_created_before'] = opts[:'remote_created_before'] if !opts[:'remote_created_before'].nil?
      query_params[:'remote_fields'] = opts[:'remote_fields'] if !opts[:'remote_fields'].nil?
      query_params[:'remote_id'] = opts[:'remote_id'] if !opts[:'remote_id'].nil?
      query_params[:'remote_updated_after'] = opts[:'remote_updated_after'] if !opts[:'remote_updated_after'].nil?
      query_params[:'remote_updated_before'] = opts[:'remote_updated_before'] if !opts[:'remote_updated_before'].nil?
      query_params[:'show_enum_origins'] = opts[:'show_enum_origins'] if !opts[:'show_enum_origins'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'tags'] = opts[:'tags'] if !opts[:'tags'].nil?
      query_params[:'ticket_type'] = opts[:'ticket_type'] if !opts[:'ticket_type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Account-Token'] = x_account_token

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedTicketList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth']

      new_options = opts.merge(
        :operation => :"TicketsApi.tickets_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#tickets_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns metadata for `Ticket` PATCHs.
    # @param x_account_token [String] Token identifying the end user.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MetaResponse]
    def tickets_meta_patch_retrieve(x_account_token, id, opts = {})
      data, _status_code, _headers = tickets_meta_patch_retrieve_with_http_info(x_account_token, id, opts)
      data
    end

    # Returns metadata for &#x60;Ticket&#x60; PATCHs.
    # @param x_account_token [String] Token identifying the end user.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MetaResponse, Integer, Hash)>] MetaResponse data, response status code and response headers
    def tickets_meta_patch_retrieve_with_http_info(x_account_token, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.tickets_meta_patch_retrieve ...'
      end
      # verify the required parameter 'x_account_token' is set
      if @api_client.config.client_side_validation && x_account_token.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_token' when calling TicketsApi.tickets_meta_patch_retrieve"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TicketsApi.tickets_meta_patch_retrieve"
      end
      # resource path
      local_var_path = '/tickets/meta/patch/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Account-Token'] = x_account_token

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MetaResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth']

      new_options = opts.merge(
        :operation => :"TicketsApi.tickets_meta_patch_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#tickets_meta_patch_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns metadata for `Ticket` POSTs.
    # @param x_account_token [String] Token identifying the end user.
    # @param [Hash] opts the optional parameters
    # @return [MetaResponse]
    def tickets_meta_post_retrieve(x_account_token, opts = {})
      data, _status_code, _headers = tickets_meta_post_retrieve_with_http_info(x_account_token, opts)
      data
    end

    # Returns metadata for &#x60;Ticket&#x60; POSTs.
    # @param x_account_token [String] Token identifying the end user.
    # @param [Hash] opts the optional parameters
    # @return [Array<(MetaResponse, Integer, Hash)>] MetaResponse data, response status code and response headers
    def tickets_meta_post_retrieve_with_http_info(x_account_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.tickets_meta_post_retrieve ...'
      end
      # verify the required parameter 'x_account_token' is set
      if @api_client.config.client_side_validation && x_account_token.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_token' when calling TicketsApi.tickets_meta_post_retrieve"
      end
      # resource path
      local_var_path = '/tickets/meta/post'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Account-Token'] = x_account_token

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MetaResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth']

      new_options = opts.merge(
        :operation => :"TicketsApi.tickets_meta_post_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#tickets_meta_post_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Updates a `Ticket` object with the given `id`.
    # @param x_account_token [String] Token identifying the end user.
    # @param id [String] 
    # @param patched_ticket_endpoint_request [PatchedTicketEndpointRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :is_debug_mode Whether to include debug fields (such as log file links) in the response.
    # @option opts [Boolean] :run_async Whether or not third-party updates should be run asynchronously.
    # @return [TicketResponse]
    def tickets_partial_update(x_account_token, id, patched_ticket_endpoint_request, opts = {})
      data, _status_code, _headers = tickets_partial_update_with_http_info(x_account_token, id, patched_ticket_endpoint_request, opts)
      data
    end

    # Updates a &#x60;Ticket&#x60; object with the given &#x60;id&#x60;.
    # @param x_account_token [String] Token identifying the end user.
    # @param id [String] 
    # @param patched_ticket_endpoint_request [PatchedTicketEndpointRequest] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :is_debug_mode Whether to include debug fields (such as log file links) in the response.
    # @option opts [Boolean] :run_async Whether or not third-party updates should be run asynchronously.
    # @return [Array<(TicketResponse, Integer, Hash)>] TicketResponse data, response status code and response headers
    def tickets_partial_update_with_http_info(x_account_token, id, patched_ticket_endpoint_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.tickets_partial_update ...'
      end
      # verify the required parameter 'x_account_token' is set
      if @api_client.config.client_side_validation && x_account_token.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_token' when calling TicketsApi.tickets_partial_update"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TicketsApi.tickets_partial_update"
      end
      # verify the required parameter 'patched_ticket_endpoint_request' is set
      if @api_client.config.client_side_validation && patched_ticket_endpoint_request.nil?
        fail ArgumentError, "Missing the required parameter 'patched_ticket_endpoint_request' when calling TicketsApi.tickets_partial_update"
      end
      # resource path
      local_var_path = '/tickets/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'is_debug_mode'] = opts[:'is_debug_mode'] if !opts[:'is_debug_mode'].nil?
      query_params[:'run_async'] = opts[:'run_async'] if !opts[:'run_async'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'multipart/form-data'])
      header_params[:'X-Account-Token'] = x_account_token

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(patched_ticket_endpoint_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TicketResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth']

      new_options = opts.merge(
        :operation => :"TicketsApi.tickets_partial_update",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#tickets_partial_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a list of `RemoteFieldClass` objects.
    # @param x_account_token [String] Token identifying the end user.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor The pagination cursor value.
    # @option opts [Boolean] :include_deleted_data Whether to include data that was marked as deleted by third party webhooks.
    # @option opts [Boolean] :include_remote_data Whether to include the original data Merge fetched from the third-party to produce these models.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @return [PaginatedRemoteFieldClassList]
    def tickets_remote_field_classes_list(x_account_token, opts = {})
      data, _status_code, _headers = tickets_remote_field_classes_list_with_http_info(x_account_token, opts)
      data
    end

    # Returns a list of &#x60;RemoteFieldClass&#x60; objects.
    # @param x_account_token [String] Token identifying the end user.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :cursor The pagination cursor value.
    # @option opts [Boolean] :include_deleted_data Whether to include data that was marked as deleted by third party webhooks.
    # @option opts [Boolean] :include_remote_data Whether to include the original data Merge fetched from the third-party to produce these models.
    # @option opts [Integer] :page_size Number of results to return per page.
    # @return [Array<(PaginatedRemoteFieldClassList, Integer, Hash)>] PaginatedRemoteFieldClassList data, response status code and response headers
    def tickets_remote_field_classes_list_with_http_info(x_account_token, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.tickets_remote_field_classes_list ...'
      end
      # verify the required parameter 'x_account_token' is set
      if @api_client.config.client_side_validation && x_account_token.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_token' when calling TicketsApi.tickets_remote_field_classes_list"
      end
      # resource path
      local_var_path = '/tickets/remote-field-classes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'cursor'] = opts[:'cursor'] if !opts[:'cursor'].nil?
      query_params[:'include_deleted_data'] = opts[:'include_deleted_data'] if !opts[:'include_deleted_data'].nil?
      query_params[:'include_remote_data'] = opts[:'include_remote_data'] if !opts[:'include_remote_data'].nil?
      query_params[:'page_size'] = opts[:'page_size'] if !opts[:'page_size'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Account-Token'] = x_account_token

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PaginatedRemoteFieldClassList'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth']

      new_options = opts.merge(
        :operation => :"TicketsApi.tickets_remote_field_classes_list",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#tickets_remote_field_classes_list\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Returns a `Ticket` object with the given `id`.
    # @param x_account_token [String] Token identifying the end user.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
    # @option opts [Boolean] :include_remote_data Whether to include the original data Merge fetched from the third-party to produce these models.
    # @option opts [Boolean] :include_remote_fields Whether to include all remote fields, including fields that Merge did not map to common models, in a normalized format.
    # @option opts [String] :remote_fields Deprecated. Use show_enum_origins.
    # @option opts [String] :show_enum_origins Which fields should be returned in non-normalized form.
    # @return [Ticket]
    def tickets_retrieve(x_account_token, id, opts = {})
      data, _status_code, _headers = tickets_retrieve_with_http_info(x_account_token, id, opts)
      data
    end

    # Returns a &#x60;Ticket&#x60; object with the given &#x60;id&#x60;.
    # @param x_account_token [String] Token identifying the end user.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :expand Which relations should be returned in expanded form. Multiple relation names should be comma separated without spaces.
    # @option opts [Boolean] :include_remote_data Whether to include the original data Merge fetched from the third-party to produce these models.
    # @option opts [Boolean] :include_remote_fields Whether to include all remote fields, including fields that Merge did not map to common models, in a normalized format.
    # @option opts [String] :remote_fields Deprecated. Use show_enum_origins.
    # @option opts [String] :show_enum_origins Which fields should be returned in non-normalized form.
    # @return [Array<(Ticket, Integer, Hash)>] Ticket data, response status code and response headers
    def tickets_retrieve_with_http_info(x_account_token, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: TicketsApi.tickets_retrieve ...'
      end
      # verify the required parameter 'x_account_token' is set
      if @api_client.config.client_side_validation && x_account_token.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_token' when calling TicketsApi.tickets_retrieve"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling TicketsApi.tickets_retrieve"
      end
      allowable_values = ["account", "account,contact", "account,contact,creator", "account,contact,creator,parent_ticket", "account,contact,parent_ticket", "account,creator", "account,creator,parent_ticket", "account,parent_ticket", "assignees", "assignees,account", "assignees,account,contact", "assignees,account,contact,creator", "assignees,account,contact,creator,parent_ticket", "assignees,account,contact,parent_ticket", "assignees,account,creator", "assignees,account,creator,parent_ticket", "assignees,account,parent_ticket", "assignees,collections", "assignees,collections,account", "assignees,collections,account,contact", "assignees,collections,account,contact,creator", "assignees,collections,account,contact,creator,parent_ticket", "assignees,collections,account,contact,parent_ticket", "assignees,collections,account,creator", "assignees,collections,account,creator,parent_ticket", "assignees,collections,account,parent_ticket", "assignees,collections,contact", "assignees,collections,contact,creator", "assignees,collections,contact,creator,parent_ticket", "assignees,collections,contact,parent_ticket", "assignees,collections,creator", "assignees,collections,creator,parent_ticket", "assignees,collections,parent_ticket", "assignees,contact", "assignees,contact,creator", "assignees,contact,creator,parent_ticket", "assignees,contact,parent_ticket", "assignees,creator", "assignees,creator,parent_ticket", "assignees,parent_ticket", "attachments", "attachments,account", "attachments,account,contact", "attachments,account,contact,creator", "attachments,account,contact,creator,parent_ticket", "attachments,account,contact,parent_ticket", "attachments,account,creator", "attachments,account,creator,parent_ticket", "attachments,account,parent_ticket", "attachments,assignees", "attachments,assignees,account", "attachments,assignees,account,contact", "attachments,assignees,account,contact,creator", "attachments,assignees,account,contact,creator,parent_ticket", "attachments,assignees,account,contact,parent_ticket", "attachments,assignees,account,creator", "attachments,assignees,account,creator,parent_ticket", "attachments,assignees,account,parent_ticket", "attachments,assignees,collections", "attachments,assignees,collections,account", "attachments,assignees,collections,account,contact", "attachments,assignees,collections,account,contact,creator", "attachments,assignees,collections,account,contact,creator,parent_ticket", "attachments,assignees,collections,account,contact,parent_ticket", "attachments,assignees,collections,account,creator", "attachments,assignees,collections,account,creator,parent_ticket", "attachments,assignees,collections,account,parent_ticket", "attachments,assignees,collections,contact", "attachments,assignees,collections,contact,creator", "attachments,assignees,collections,contact,creator,parent_ticket", "attachments,assignees,collections,contact,parent_ticket", "attachments,assignees,collections,creator", "attachments,assignees,collections,creator,parent_ticket", "attachments,assignees,collections,parent_ticket", "attachments,assignees,contact", "attachments,assignees,contact,creator", "attachments,assignees,contact,creator,parent_ticket", "attachments,assignees,contact,parent_ticket", "attachments,assignees,creator", "attachments,assignees,creator,parent_ticket", "attachments,assignees,parent_ticket", "attachments,collections", "attachments,collections,account", "attachments,collections,account,contact", "attachments,collections,account,contact,creator", "attachments,collections,account,contact,creator,parent_ticket", "attachments,collections,account,contact,parent_ticket", "attachments,collections,account,creator", "attachments,collections,account,creator,parent_ticket", "attachments,collections,account,parent_ticket", "attachments,collections,contact", "attachments,collections,contact,creator", "attachments,collections,contact,creator,parent_ticket", "attachments,collections,contact,parent_ticket", "attachments,collections,creator", "attachments,collections,creator,parent_ticket", "attachments,collections,parent_ticket", "attachments,contact", "attachments,contact,creator", "attachments,contact,creator,parent_ticket", "attachments,contact,parent_ticket", "attachments,creator", "attachments,creator,parent_ticket", "attachments,parent_ticket", "collections", "collections,account", "collections,account,contact", "collections,account,contact,creator", "collections,account,contact,creator,parent_ticket", "collections,account,contact,parent_ticket", "collections,account,creator", "collections,account,creator,parent_ticket", "collections,account,parent_ticket", "collections,contact", "collections,contact,creator", "collections,contact,creator,parent_ticket", "collections,contact,parent_ticket", "collections,creator", "collections,creator,parent_ticket", "collections,parent_ticket", "contact", "contact,creator", "contact,creator,parent_ticket", "contact,parent_ticket", "creator", "creator,parent_ticket", "parent_ticket"]
      if @api_client.config.client_side_validation && opts[:'expand'] && !allowable_values.include?(opts[:'expand'])
        fail ArgumentError, "invalid value for \"expand\", must be one of #{allowable_values}"
      end
      allowable_values = ["priority", "priority,status", "priority,status,ticket_type", "priority,ticket_type", "status", "status,ticket_type", "ticket_type"]
      if @api_client.config.client_side_validation && opts[:'remote_fields'] && !allowable_values.include?(opts[:'remote_fields'])
        fail ArgumentError, "invalid value for \"remote_fields\", must be one of #{allowable_values}"
      end
      allowable_values = ["priority", "priority,status", "priority,status,ticket_type", "priority,ticket_type", "status", "status,ticket_type", "ticket_type"]
      if @api_client.config.client_side_validation && opts[:'show_enum_origins'] && !allowable_values.include?(opts[:'show_enum_origins'])
        fail ArgumentError, "invalid value for \"show_enum_origins\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/tickets/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expand'] = opts[:'expand'] if !opts[:'expand'].nil?
      query_params[:'include_remote_data'] = opts[:'include_remote_data'] if !opts[:'include_remote_data'].nil?
      query_params[:'include_remote_fields'] = opts[:'include_remote_fields'] if !opts[:'include_remote_fields'].nil?
      query_params[:'remote_fields'] = opts[:'remote_fields'] if !opts[:'remote_fields'].nil?
      query_params[:'show_enum_origins'] = opts[:'show_enum_origins'] if !opts[:'show_enum_origins'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'X-Account-Token'] = x_account_token

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Ticket'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['tokenAuth']

      new_options = opts.merge(
        :operation => :"TicketsApi.tickets_retrieve",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: TicketsApi#tickets_retrieve\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
